*{
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}


.leftSideBox{
  position: relative;
  background: #526FE4;
  width: 15%;
  height: 100vh;
  display: inline-block;
}

.rightSideBox{
  display: inline-block;
  background-color: #f1f5fa;
  width: 85%;
  height: inherit;
  position: absolute;
  background-color: #F1F5FA;
}

.rightMain{
  background-color: #fff;
  padding: 10px;
  margin: 20px;
  position: relative;
}

.container{
  position: relative;
}

.leftContainer{
  width: 50%;
  border: 1px solid #EAEBED;
  margin: 10px;
  display: inline-block;
}


.rightContainer{
  position: absolute;
  width: 50%;
  display: inline-block;
  border: 1px solid #EAEBED;
  margin: 10px;
  padding: 20px;
}


.info{
  font-weight: 400;
  margin: 10px;
}

.back{
  font-weight: 400;
  margin: 10px;
}


.totalamount{
  color: #506EE4;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 20px;
}

.potentialamount{
  color: #FF5F1B;
  font-weight: bold;
  font-family: sans-serif;

}
.delay{
  color:#06A473;
  font-weight: bold;
  font-family: sans-serif;
}

.bar{
  background-color:#5E73EB;
}

.graph-text{
  align-items: center;
  color: #626161;
  line-height: 1.5;
}

.bar-graph{
  margin: 20px;
}

.sliders{
  margin: 40px 0px 40px 30px;
}


.grid{
  position: relative;
}


.grid-item2{
  position: absolute;
  right: 0;
}


.heading{
  font-weight: 300;
  margin-left: 10px;
}

.err-field{
  color: white;
  background-color: #DF2E38;
  padding: 3px;
  font-size: 14px;
  margin: 2px 0px;
  
}


/* Error Page */

.errorpage{
  position: absolute;
  width: 46%;
  height: 96.5%;
  display: inline-block;
  border: 1px solid #EAEBED;
  margin: 10px;
  padding: 15px;
  justify-content: center;
  text-transform: uppercase;
  font-family: 'Montserrat';
}

.errorpage-h1{
  color: #DF2E38;
  margin: 200px 0px 0px 180px ;
}

.errorpage-h2{
  display: block;
  color: #DF2E38;
  font-size: 20px;
  justify-content: center;
  margin: 0px 0px 0px 118px;
}